<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title> hello page</title>
</head>

<body>
    <h1>welcome to hello page </h1>
    {{ name }}<br>
    {{ name | upper }}<br>
    {{ name | lower }}<br>
    {{ name | reverse }}<br>

    {{ numbers }}<br>
    {{ numbers | sort }}<br>
    {{ numbers | min }}<br>
    {{ numbers | max }}<br>
    {{ numbers | join("_") }}<br>

    {{ number | khodi}}<br>
    {{ namess | default("arshia") }}<br>
    
</body>
</html>