<!DOCTYPE html>

<html>

<head>
    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
</head>

<body>

    <!-- header start -->

    <header class="header">
        <div class="header_box">
            <p class="header_title1 pacifico  color_yellow">Are you hungary?</p>
            <h3 class="header_title2 bebas">
                GAME NIGHT? <br>
                WORKING LATE? <br>
                ORDER NOW!
            </h3>
            <a href="" class="link bebas">GO TO MENU</a>
        </div>
    </header>

    <!-- header end -->

    <!-- menu start -->

    <section class="menu">
        <div class="menu_box">
            <div class="menu_items">
                <div class="menu_item">
                    <img class="img_menu" src="assests/image/category-01.png" alt="">
                    <p class="menu_para bebas">BURGER</p>
                </div>

                <div class="menu_item">
                    <img class="img_menu" src="assests/image/category-02.png" alt="">
                    <p class="menu_para bebas">SUB SANDWICHES</p>
                </div>

                <div class="menu_item">
                    <img class="img_menu" src="assests/image/category-03.png" alt="">
                    <p class="menu_para bebas">Beef Roll</p>
                </div>

                <div class="menu_item">
                    <img class="img_menu" src="assests/image/category-04.png" alt="">
                    <p class="menu_para bebas">Wedges</p>
                </div>
            </div>
        </div>
    </section>

    <!-- menu end -->

    <!-- /* special start -->

    <section class="special">
        <div class="special_box">
            <div class="special_left">
                <p class="special_title  bebas">
                    MEET, EAT &
                    ENJOY THE
                    TRUE TASTE
                </p>
                <p class="special_para bebas">
                    LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO EIUSMOD TEMPOR.
                </p>
                <p class="special_price bebas">
                    $9.45
                </p>
                <a href="" class="link_special bebas">ORDER NOW</a>
            </div>
            <div class="special_right">
                <div class="special_right_top">
                    <p class="special_title_right bebas">
                        DISCOVERY
                        NEW MENU
                    </p>
                    <p class="special_para_right bebas">
                        LOREM IPSUM DOLOR
                        ADIPISCING ELIT
                    </p>
                    <p class="special_price_right bebas">
                        $44.99
                    </p>
                </div>
                <div class="special_right_bottom">
                    <p class="special_title_right bebas">
                        BUY ONE
                        GET ONE
                    </p>
                    <p class="special_para_right bebas">
                        LOREM IPSUM DOLOR
                        ADIPISCING ELIT
                    </p>
                    <p class="special_price_right bebas">
                        $14.99
                    </p>
                    </di>
                </div>
    </section>

    <!-- special end -->

    <!-- about start -->

    <section class="about">
        <div class="about_box">
            <div class="about_left">
                <div class="burger_img">
                    <img src="assests/image/about-bg.png" alt="">
                </div>
            </div>
            <div class="about_right">
                <div class="about_right_side">
                    <p class="about_title pacifico">
                        Concerning Our Food
                    </p>
                    <p class="about_para bebas">
                        With American Love,
                        from Los Angeles
                    </p>
                    <p class="about_faze epilogue">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis, pulvinar dapibus.
                    </p>
                    <a href="" class="link_about bebas">ORDER NOW</a>
                </div>
            </div>
        </div>
    </section>

    <!-- about end -->

    <!-- delivery start -->

    <section class="delivery">
        <div class="delivery_box">
            <div class="delivery_item">
                <p class="delivery_title pacifico">
                    We Deliver Your Masterpiece!
                </p>
                <h3 class="delivery_para bebas">
                    Quick & Nutritious
                    Dinner
                </h3>
                <a href="" class="delivery_link bebas">FULL MENU</a>
            </div>
        </div>
    </section>

    <!-- delivery end -->

    <!-- achievement start -->

    <section class="achievement">
        <div class="achievement_box">
            <div class="achievement_items">
                <div class="achievement_item">
                    <p class="achievement_number pacifico">
                        230
                    </p>
                    <p class="achievement_info epilogue">
                        Ingredients
                    </p>
                </div>

                <div class="achievement_item">
                    <p class="achievement_number pacifico">
                        500+
                    </p>
                    <p class="achievement_info epilogue">
                        Clients Daily
                    </p>
                </div>

                <div class="achievement_item">
                    <p class="achievement_number pacifico">
                        12+
                    </p>
                    <p class="achievement_info epilogue">
                        Years of Experience
                    </p>
                </div>

                <div class="achievement_item">
                    <p class="achievement_number pacifico">
                        100%
                    </p>
                    <p class="achievement_info epilogue">
                        Fresh & Tasty
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- achievement end -->

    <!-- MainDish start -->

    <section class="maindish">
        <div class="maindish_box">
            <div class="maindish_items">
                <div class="maindish_left_side">
                    <h2 class="maindish_title bebas">
                        OUR MAIN DISHES
                    </h2>

                    <p class="maindish_menu bebas">
                        Breakfast Mood ….. $29.00
                    </p>
                    <p class="maindish_para epilogue">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>

                    <p class="maindish_menu bebas">
                        DRINKING PROSPECT ….. $9.45​
                    </p>
                    <p class="maindish_para epilogue">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>

                    <p class="maindish_menu bebas">
                        Burger Time ….. $12.45
                    </p>
                    <p class="maindish_para epilogue">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>

                    <p class="maindish_menu bebas">
                        Grilled Chicken ….. $19.45
                    </p>
                    <p class="maindish_para epilogue">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
                <div class="maindish_img none">
                    <img class="maindish_img" src="assests/image/dish-bg.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- MainDish end -->

    <!-- recommend start -->

    <section class="recommend">
        <div class="recommend_box">
            <div class="recommend_title">
                <p class="recommended_head_title  pacifico">
                    Tasty & Crunchy
                </p>
                <h3 class="recommended_mid_para bebas">
                    RECOMMENDED TODAY
                </h3>
                <p class="recommended_para epilogue">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>

            <div class="recommended_items">
                <div class="spaghetti">
                    <img class="recommend_img" src="assests/image/today-01.png" alt="">
                    <h4 class="menu_title_recommend bebas">
                        Spaghetti Bolognese
                    </h4>
                    <p class="price_recommend bebas">
                        $35.99
                    </p>
                    <p class="para_recommend epilogue">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                    <a class="link_recommend bebas" href="">ORDER NOW</a>
                </div>
            </div>
        </div>
    </section>

    <!-- recommend end -->

</body>

</html>